/* projects.module.css */
.projectSection {
    padding: 4rem 2rem;
    color: #dbd8d8;
  }
  h2 {
    text-align: center;
    margin-bottom: 2em;
    color: #c0b9b9;
  }
  
  .projectContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .projectTitle {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    color: #000000;
  }

  .projectList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    
  }

.destacado {
  color: #000;
  text-align: center;
  background: linear-gradient(135deg, #d4f12f, #a1c21f);
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(212, 241, 47, 0.8);
  border: 3px solid #d4f12f;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
  animation: pulseGlow 2.5s infinite alternate;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destacado::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  animation: rotateGlow 6s linear infinite;
  pointer-events: none;
  border-radius: 12px;
}

.destacado:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(212, 241, 47, 1);
}

/* Animaciones */
@keyframes pulseGlow {
  0% {
    box-shadow: 0 6px 15px rgba(212, 241, 47, 0.8);
  }
  100% {
    box-shadow: 0 12px 30px rgba(212, 241, 47, 1);
  }
}

@keyframes rotateGlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
